body {
    margin: 0;
    padding: 0;
    font-family: Inter,sans-serif;
}

.d-none {
    display: none;
}

.btn-verb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
}

.search-verb, .btn-answer {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
}

.search-verb:after, .btn-answer:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.search-verb:hover:after, .btn-answer:hover:after {
    transform: translate(0, 0);
}

.search-verb:active, .btn-answer:active {
    background-color: #ffdeda;
    outline: 0;
}

.search-verb:hover, .btn-answer:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .search-verb, .btn-answer {
        padding: 0 40px;
    }

    h2 {
        margin-top: 12%;
    }
}


h1 {
    background: #111111;
    color: white;
    text-align: center;
    margin: 0;
    padding: 30px 10px;
    border-radius: 0 0 20px 20px;
    box-shadow: 10px 3px 161px 12px rgba(0,0,0,0.19);
}

h2 {
    text-align: center;
    margin-top: 7%;
}

.answer {
    text-align: center;
}